version: '3.8'

services:
  # Flask Application Service
  web:
    build: .
    container_name: spy_option_chain_app
    restart: always
    ports:
      - "5000:5000"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
